<div class='header header-absolute'>
  <div class="container">
    <div class="logo">
      <a href="{{ .Site.BaseURL }}"><img alt="Zeroidea Homepage" src="https://open-source-life.jp/images/logo-zeroidea-regular-separate.svg" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ .Site.BaseURL }}"><img alt="Zeroidea Homepage" src="https://open-source-life.jp/logo-mobile-zi-regular-zi.svg" /></a>
    </div>
    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}
  </div>
</div>